<!-- Authored by ‘Robert Rua’, ‘Jeremy Halek’, ‘Gaston Alvarado’, ‘Yevgeniy Khmelnitskiy’,  ‘Anthony Uhuegbue’ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guns & Games</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

    <!-- Navigation -->
    <div class="container">
        <nav class="navbar navbar-expand-lg mb-1">
            <!-- Add social media icons -->
            
            <!-- Set up button for smaller screens -->
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Set up buttons for nav bar-->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/wordcloud">Wordcloud</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analysis">Analysis</a></li>
                    <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="/conclusion">Conclusion</a></li>
                </ul>
            </div>
            <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" target="_blank" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.pinterest.com" target="_blank" class="fa fa-pinterest"></a>
            <a href="https://www.youtube.com" target="_blank" class="fa fa-youtube"></a>
            <a href="https://www.linkedin.com" target="_blank" class="fa fa-linkedin"></a>
        </nav>

        <!-- Header -->
        <div class="jumbotron jumbotron-fluid text-center " id="jumbotext">
            <div class="container">
                <h1 class="display-4 text-light" id="title">Conclusion</h1>
                <p class="lead text-light">A detailed comparison of gun crimes and violent video games.</p>
            </div>
        </div>

        <!-- Page content -->
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://static.businessinsider.com/image/4ee647a56bb3f7680200001e-750.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">What professional analysis shows...</h5>
                        <p class="card-text">In a Jan. 16, 2013 news conference about gun violence, President Barack Obama requested $10 million from Congress to fund studies about gun violence,
                                including "the effects violent video games have on young minds."
                                In Aug. 2015 report from the American Psychological Association determined that playing violent video games is linked to increased aggression,
                                but it did not find sufficient evidence of a link between the games and increased violence.
                                As games continue to get more sophisticated and realistic, the debate over whether or not violent video games create more violence continues,
                                but as of today, no data or formal analysis shows any direct correlation between violent video games and an increase in violence.</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- row 2 -->
    </div>
    <div id="MOAC">
        <!-- Plotly chart will be drawn inside this DIV -->
    </div>
    
    </div>
        <!-- Plotly.js -->

        
        
    <!-- D3 and js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    

    <script type="text/javascript" src="{{ url_for('static', filename='js/MOAC.js') }}"></script> 

</body>

</html>